/* twitch-container {
  display:block;
} */


body {
  background-color:#271e27
}

article {
  display: inline-block;
}

/* .top-container {
  background-color: #000000;
  padding: 20px;
  text-align: center;
} */

.header {
  padding: 5px 10px;
  background: #272727;
  color: #000000;
}

.content {
  padding: 40px;
}

.sticky {
  position: fixed;
  top: 8;
  width: 100%;
}

.sticky + .content {
  padding-top: 40px;
}

/* .twitchNameSearch { this does not work
  background-color:#362e37;
  color:#362e37;
} */
